<div>
  {{> title titulo="Programacion Backend - Sockets"}}
</div>
<button onclick="mgsPrueba()">Enviar mensaje de prueba</button>
<div id="mensajes"></div>
<script src="/socket.io/socket.io.js" ></script>
<script src="js/script.js"></script>