<h2>{{saludar user.nombre}}</h2>
<div>
  <p>Nombre: <span>{{user.nombre}}</span></p>
</div>
<div>
  <p>Apellido: <span>{{user.apellido}}</span></p>
</div>
<div>
  <p>Email: <span>{{user.email}}</span></p>
</div>